.PurchaseDetailsComponent {
  background-color: #ffffff;
  height: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.purchase-list-content {
  height: 79%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
