.PurchaseDetailsComponent {
  background-color: #ffffff;
  height: 100%;
}

.purchase-list-content {
  height: 79%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
