.ProductSelectorComponent {
  background-color: #ffffff;
  height: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.stock-list-bottom {
  height: 72%;
  position: relative;
  overflow: auto;
}
